// Theme's Palette
@import("D:/WebFontEnd/Projects/vuepress2-MyBlog-GitHub/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("D:/WebFontEnd/Projects/vuepress2-MyBlog-GitHub/docs/.vuepress/styles/palette.styl")