// Theme's Palette
@import("E:/WebFontEnd/Projects/indulge-back-blog-devlopment/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("E:/WebFontEnd/Projects/indulge-back-blog-devlopment/docs/.vuepress/styles/palette.styl")